html body .wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
}

html body .wy-nav-top {
    background-color: #1f99c4;
}

html body .wy-nav-side {
    background-color: #d6d6d6;
}

html body .wy-side-nav-search {
    background-color: #d6d6d6;
    color: #787878;
}

html body .wy-side-nav-search:before {
    content: '';
    background: #d6d6d6 url('logo_beslist_nl.png') top center no-repeat;
    display: block;
    height: 50px;
    width: auto;
    color: #787878;
}

html body .wy-side-nav-search>a,
html body .wy-side-nav-search .wy-dropdown>a,
html body .wy-side-nav-search>div.version,
html body .wy-menu-vertical a {
    color: #787878;
}

html body .rst-versions {
    background-color: #787878;
    border-top-color: #d6d6d6;
}

html body .rst-versions .rst-current-version,
html body .rst-versions .rst-other-versions {
    background-color: #787878;
    color: #fff;
}

html body .rst-versions .rst-other-versions dt {
    color: #ccc;
}